body {
  width: 100vw;
  margin: 0;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --button-color: #484f58;
  --nav-color: #161b22;
  --repo-color: #58a6ff;
  --dev-name-color: #1158c7;
  background-color: #0d1117;
}

.navigation {
  width: 100%;
  background-color: var(--nav-color);
  display: grid;
  grid-template-columns: 0.15fr 1.5fr 0.5fr;
  grid-template-rows: 40px;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  padding: 10px;
}
.nav-button {
  border: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  background-color: transparent;
}
.nav-buttons-container {
  display: flex;
  padding: 10px;
}
.icons {
  display: flex;
  gap: 10px;
}

.temp {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: start;
}
.temp > input {
  background-color: #0d1117;
  border: 1px solid gray;
  border-radius: 5px;
  min-width: 220px;
  padding: 5px;
  color: white;
}
.logo {
  width: 35px;
  height: 35px;
  border-radius: 2em;
}
.profile-pic {
  width: 25px;
  height: 25px;
}

.icons {
  justify-self: end;
  padding: 10px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.profile-arrow {
  font-size: 10px;
  transform: translateX(-7px);
}
